<?xml version="1.0" encoding="UTF-8"?> 
<widget xmlns="http://www.w3.org/ns/widgets" 
	xmlns:gap="http://phonegap.com/ns/1.0" 
	id="com.inappbrowser.pgbtest" 
	version="1.0.0">
	
    <name>
        inAppBrowser Test
    </name>
        <description>
        An example of inAppBrowser Plugin. 
    </description>

    <author href="https://sub.example.com" email="someone@email.com">
        Yourname
    </author>
    
    <preference name="phonegap-version" value="3.0.0" />
    
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    
	
    <access origin="*" />
 
</widget>
